flows.json
[{"id":"736daf8e.8f1c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e44a0a5.bd66e","type":"ui_text","z":"736daf8e.8f1c4","group":"29cd1d98.5cb862","order":2,"width":0,"height":0,"name":"","label":"Predicition","format":"{{msg.payload}}","layout":"row-spread","x":996.9999847412109,"y":448.00001335144043,"wires":[]},{"id":"21377eb5.8ea2f2","type":"ui_form","z":"736daf8e.8f1c4","name":"","label":"","group":"29cd1d98.5cb862","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"Age","type":"number","required":true},{"label":"Gender","value":"Gender","type":"number","required":true},{"label":"Total_Bilirubin","value":"Total_Bilirubin","type":"number","required":true},{"label":"Direct_Bilirubin","value":"Direct_Bilirubin","type":"number","required":true},{"label":"Alkaline_Phosphotase","value":"Alkaline_Phosphotase","type":"number","required":true},{"label":"Alamine_Aminotransferase","value":"Alamine_Aminotransferase","type":"number","required":true},{"label":"Total_Protiens","value":"Total_Protiens","type":"number","required":true},{"label":"Albumin","value":"Albumin","type":"number","required":true},{"label":"Albumin_and_Globulin_Ratio","value":"Albumin_and_Globulin_Ratio","type":"number","required":true},{"label":"Aspartate_Aminotransferase","value":"Aspartate_Aminotransferase","type":"number","required":true}],"formValue":{"Age":"","Gender":"","Total_Bilirubin":"","Direct_Bilirubin":"","Alkaline_Phosphotase":"","Alamine_Aminotransferase":"","Total_Protiens":"","Albumin":"","Albumin_and_Globulin_Ratio":"","Aspartate_Aminotransferase":""},"payload":"","submit":"","cancel":"","topic":"","x":156,"y":388.0000057220459,"wires":[["f7ab3e91.b9d32"]]},{"id":"f7ab3e91.b9d32","type":"function","z":"736daf8e.8f1c4","name":"parameters","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Gender\",msg.payload.Gender)\nglobal.set(\"Total_Bilirubin\",msg.payload.Total_Bilirubin)\nglobal.set(\"Direct_Bilirubin\",msg.payload.Direct_Bilirubin)\nglobal.set(\"Alkaline_Phosphotase\",msg.payload.Alkaline_Phosphotase)\nglobal.set(\"Alamine_Aminotransferase\",msg.payload.Alamine_Aminotransferase)\nglobal.set(\"Aspartate_Aminotransferase\",msg.payload.Aspartate_Aminotransferase)\nglobal.set(\"Total_Protiens\",msg.payload.Total_Protiens)\nglobal.set(\"Albumin\",msg.payload.Albumin)\nglobal.set(\"Albumin_and_Globulin_Ratio\",msg.payload.Albumin_and_Globulin_Ratio)\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":187.00000667572021,"wires":[["4eb74b31.080974","59fa2781.bcdf68"]]},{"id":"4eb74b31.080974","type":"http request","z":"736daf8e.8f1c4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":372,"y":286.00000286102295,"wires":[["b457d01a.e39a7","519f958e.cb4bbc"]]},{"id":"b457d01a.e39a7","type":"debug","z":"736daf8e.8f1c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":513,"y":412.0000066757202,"wires":[]},{"id":"945ad8dd.e02278","type":"http request","z":"736daf8e.8f1c4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2c8705f0-ccc1-4a32-8b71-7ddf0892e503/deployments/eb5e1412-b491-49b5-8556-dbd73226fe1a/online","tls":"","proxy":"","x":721,"y":206.99999713897705,"wires":[["96c2fd6e.09081","535606.969259fc"]]},{"id":"96c2fd6e.09081","type":"debug","z":"736daf8e.8f1c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":121.99999618530273,"wires":[]},{"id":"535606.969259fc","type":"function","z":"736daf8e.8f1c4","name":"","func":"msg.payload=msg.payload.values[0][0]\nif(msg.payload===1)\n{\n    msg.payload=\"Patient is not predicted with Liver Disease\"\n}\nelse\n{\n    msg.payload=\"Patient is predicted with Liver Disease\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":943,"y":288.0000057220459,"wires":[["9e44a0a5.bd66e"]]},{"id":"519f958e.cb4bbc","type":"function","z":"736daf8e.8f1c4","name":"prediction","func":"var token = msg.payload.token\nvar Age=global.get('Age')\nvar Gender=global.get('Gender')\nvar Total_Bilirubin=global.get('Total_Bilirubin')\nvar Direct_Bilirubin=global.get('Direct_Bilirubin')\nvar Alkaline_Phosphotase=global.get('Alkaline_Phosphotase')\nvar Alamine_Aminotransferase=global.get('Alamine_Aminotransferase')\nvar Aspartate_Aminotransferase=global.get('Aspartate_Aminotransferase')\nvar Total_Protiens=global.get('Total_Protiens')\nvar Albumin=global.get('Albumin')\nvar Albumin_and_Globulin_Ratio=global.get('Albumin_and_Globulin_Ratio')\nmsg.payload ={\"fields\":[\"Age\",\"Gender\",\"Total_Bilirubin\",\"Direct_Bilirubin\",\"Alkaline_Phosphotase\",\"Alamine_Aminotransferase\",\"Aspartate_Aminotransferase\",\"Total_Protiens\",\"Albumin\",\"Albumin_and_Globulin_Ratio\"],values:[[Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":512.9999961853027,"y":178.99999523162842,"wires":[["945ad8dd.e02278","27781dd2.d82262"]]},{"id":"59fa2781.bcdf68","type":"debug","z":"736daf8e.8f1c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":88.00000095367432,"wires":[]},{"id":"27781dd2.d82262","type":"debug","z":"736daf8e.8f1c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":701.0000228881836,"y":315.0000066757202,"wires":[]},{"id":"29cd1d98.5cb862","type":"ui_group","z":"","name":"Input Parameters","tab":"e5240ebb.3079","disp":true,"width":"6","collapse":false},{"id":"e5240ebb.3079","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]